* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  border-radius: 6px;
  padding: 0 8px;
  max-width: 100%;
  background-color: cornflowerblue;
}

input {
  flex: 1;
  padding: 10px;
  background-color: cornflowerblue;
  border: 0;
  outline: 0;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* border: 2px solid red; */
  /* padding: 1rem; */
  border-radius: 10px;
}

input::placeholder {
  color: lightcyan;
  font-style: italic;
  font-size: 1.8rem;
}

.result {
  font-size: 1.5rem;
  color: green;
  margin-left: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.result.visible {
  opacity: 1;
}

.result.invalid {
  color: red;
  content: "X";
}
