* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 50%;
  background-color: cornflowerblue;
  border: 0;
  outline: 0;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* border: 2px solid red; */
  padding: 1rem;
  border-radius: 10px;
}

input::placeholder {
  color: lightcyan;
  font-style: italic;
  font-size: 1.8rem;
}

.input-wrapper::after {
  content: "X";
  font-size: 5rem;
  color: white;
}

#result {
  color: red;
  font-size: 5rem;
}
