* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
}

#time {
  font-family: "League Spartan", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #39ff14;
  font-weight: 900;
  font-size: 10vw;
  text-shadow: 0 0 5px #32cd32, 0 0 10px #32cd32;
}

.blinking {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
