* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.main img {
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
