* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 80%;
  max-width: 600px;
}

.container {
  flex: 1 1 250px;
  aspect-ratio: 1 / 1;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 0;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.container:hover {
  transform: scale(1.05);
}

.container .followers {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
}
